@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Six+Caps&family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.menu{
    z-index: 100;
    position: absolute;    
    height: 100vh;
    width: 100%;
    top: -105%;
}

.menu_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    top: 20%;
    height: 70%;
    padding: 5vh 10vw;
}

.interacting{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    margin-right: 10%;
}

.info{
    margin-top: 20vh;
    margin-left: 10vw;
    height: auto;
    display: flex;
    align-items: center;
}

.fade-in{
    transform: translateY(30px);
    opacity: 0;
}

.info p{
    width: max-content;
    padding: 2px;
    font-size: 15px;
    opacity: .8;
    letter-spacing: 1px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.copyright {
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 98vw;
    padding: 20px;
    opacity: .9;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
}

.toast {
    position: absolute;
    bottom: 0;
    padding: 20px;
    opacity: .9;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
}

.toast div {
    color: white;
    background-color: #9b5151;
    border-radius: 8px;
    padding: 10px;
    opacity: .6;
}

.heading_container {
    overflow: hidden;
}

.icons {
    width: max-content;
    padding-left: 10px;
}
.icons img {
    height: 30px;
    width: 30px;
    padding: 0 15px;
    opacity: .8;
    transition: opacity .2s ease-in-out;
}

.icons img:hover {
    opacity: 1;
}
h1 {
    cursor: pointer;
    position: relative;
    top: 100px;
    text-align: right;
    color: white;
    font-size: 70px;
    font-family: 'Six Caps', sans-serif;
    letter-spacing: 2px;
    margin: 1rem;
    user-select: none;
    -webkit-tap-highlight-color:transparent;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2em;
    width: max-content;
}

.page{
    /* background-color: #743939; */
    background-color: #4C5C68;  
}

.underlay{
    /* background-color: #1b1d1f; */
    background-color: #46494C;
    /* background-color: #373e40; */
}

.dark .underlay{
    /* background-color: #faf9f9; */
    background-color: #666b75;
}

a{
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    /* color: white; */
}
a:visited {
    color: rgba(0, 0, 0, 0.6);

}